

form{
    max-width: 1000px;
}
#carouselExampleIndicators{
    max-height: 300px;
    height: 100%;
}
.carousel-inner{
    height: 700px;
    width: 1300px;
    margin: auto;
    border-radius: 10px;
}

.carousel-control-prev-icon {
    background-color: #000;
    border-radius: 50px;
}
.carousel-control-next-icon {
    background-color: #000;
    border-radius: 50px;
}
.carousel-indicators [data-bs-target]{
    background-color: #000;
}
